@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;400;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.contact .contact-form .contact-info form textarea, .contact .contact-form .contact-info form .input-field input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 20px 0 20px 40px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #f4f3f1;
  padding-top: 50px;
}
header .navigation {
  background-color: #303030;
}
header .navigation nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header .navigation nav ul li {
  display: inline;
}
header .navigation nav ul li a {
  display: inline-block;
  color: white;
  padding: 40px;
  text-decoration: none;
  height: 100px;
}
header .navigation nav ul li a:hover {
  color: white;
  padding: 40px;
  text-decoration: none;
  background-color: red;
  transition: 0.3s;
  height: 100px;
}

.block-banner {
  background-color: #f4f3f1;
  padding: 100px 0;
}
.block-banner .block-banner_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block-banner .block-banner_content .banner-content_left {
  width: 50%;
}
.block-banner .block-banner_content .banner-content_left p {
  padding-right: 90px;
  padding-top: 20px;
}
.block-banner .block-banner_content .banner-content_left a {
  background-color: red;
  color: white;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid transparent;
}
.block-banner .block-banner_content .banner-content_left a:hover {
  background-color: #f4f3f1;
  color: red;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 40px;
  transition: 0.3s;
  border: 2px solid red;
}
.block-banner .block-banner_content .banner-content_right {
  width: 50%;
}
.block-banner .block-banner_content .banner-content_right iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 58px 7px rgba(34, 60, 80, 0.29);
}

.block-reviews {
  background-color: white;
  padding: 100px 0;
}
.block-reviews .block-reviews_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.block-reviews .block-reviews_content .reviews-content_left {
  width: 50%;
}
.block-reviews .block-reviews_content .reviews-content_left p {
  padding-right: 90px;
  padding-top: 20px;
}
.block-reviews .block-reviews_content .reviews-content_left a {
  background-color: white;
  color: red;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid red;
}
.block-reviews .block-reviews_content .reviews-content_left a:hover {
  background-color: red;
  color: white;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 40px;
  transition: 0.3s;
  border: 2px solid transparent;
}
.block-reviews .block-reviews_content .reviews-content_right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-reviews .block-reviews_content .reviews-content_right h3 {
  padding-bottom: 20px;
}
.block-reviews .block-reviews_content .reviews-content_right .rev-cont-right_item {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px;
}
.block-reviews .block-reviews_content .reviews-content_right .rev-cont-right_item img {
  width: 40px;
  height: auto;
  padding-bottom: 20px;
}

.feature {
  padding: 50px 0;
}
.feature .feauter_text {
  text-align: center;
  padding-bottom: 30px;
}
.feature .feauter_text .feauter_title {
  padding-top: 20px;
}
.feature .feauter_text .feauter_subtitle {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}
.feature .feauter_text .line {
  max-width: 200px;
  border: 1px solid red;
  margin: 0 auto;
}
.feature .feature_tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.feature .feature_tabs ul li {
  padding: 20px;
}
.feature .feature_tabs ul li a {
  text-decoration: none;
  color: #333;
}
.feature .feature_tabs ul li a:hover {
  color: red;
}
.feature .feauture_gallary {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.feature .feauture_gallary .gallary-item {
  padding: 10px;
  width: 300px;
}

.team {
  padding: 50px 0;
}
.team .team_text {
  text-align: left;
  padding-bottom: 30px;
}
.team .team_text .team_zagolovok {
  padding-top: 20px;
}
.team .team_text .team_podzagolovok {
  max-width: 500px;
  padding: 20px 0;
}
.team .team_text .line {
  width: 200px;
  border: 1px solid red;
}
.team .team-gallary {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.team .team-gallary .team_about {
  width: 68%;
}
.team .team-gallary .team_about .team_about_podzagolovok {
  max-width: 620px;
  padding: 20px 0;
}
.team .team-gallary .team_about .team_tabs {
  padding-bottom: 20px;
}
.team .team-gallary .team_about .team_tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.team .team-gallary .team_about .team_tabs ul li {
  padding-right: 20px;
}
.team .team-gallary .team_about .team_tabs ul li a {
  text-decoration: none;
  color: #333;
}
.team .team-gallary .team_about .team_gallary {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.team .team-gallary .team_about .team_gallary .team_gallary_item {
  width: 190px;
  height: 190px;
  background-color: #f5efdb;
}
.team .team-gallary .team_about .team_gallary .team_gallary_item .team-item-title {
  display: none;
}
.team .team-gallary .team_about .team_gallary .team_gallary_item:hover .team-item-title {
  margin-top: 160px;
  display: block;
  padding: 5px 0 5px 40px;
  background-color: #79776d;
  color: white;
  text-transform: uppercase;
}

.subscribe {
  padding: 100px 0;
  background-color: #f5f0dd;
}
.subscribe .subscribe-text {
  text-align: center;
  color: white;
}
.subscribe .subscribe-text p {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
}
.subscribe .subscribe-form {
  padding-top: 30px;
}
.subscribe .subscribe-form form {
  display: flex;
  justify-content: center;
}
.subscribe .subscribe-form form input {
  width: 400px;
  margin: 0 20px;
  border: none;
  padding-left: 20px;
  border-radius: 5px;
}
.subscribe .subscribe-form form a {
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 20px;
  background-color: red;
  color: white;
  border: 2px solid transparent;
}
.subscribe .subscribe-form form a:hover {
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 20px;
  background-color: #f5f0dd;
  color: red;
  border: 2px solid red;
  transition: 0.3s;
}

.contact {
  overflow-x: hidden;
  margin: 100px 0;
}
.contact .contact_text {
  text-align: left;
  padding-bottom: 30px;
}
.contact .contact_text .contact_zagolovok {
  padding-top: 20px;
}
.contact .contact_text .contact_podzagolovok {
  width: 500px;
  padding: 20px 0;
}
.contact .contact_text .line {
  width: 200px;
  border: 1px solid red;
}
.contact .contact-form {
  display: flex;
  position: relative;
}
.contact .contact-form:after {
  content: "";
  position: absolute;
  background-color: #333;
  height: 100%;
  width: 50vw;
  right: -50vw;
  top: 0;
}
.contact .contact-form .contact-info {
  width: 60%;
}
.contact .contact-form .contact-info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .contact-form .contact-info form .input-field {
  width: 50%;
}
.contact .contact-form .contact-info form .input-field:first-child {
  padding-right: 50px;
}
.contact .contact-form .contact-info form .input-field:nth-child {
  padding-left: 50px;
}
.contact .contact-form .contact-info form .input-field input {
  width: 100%;
  background-color: #f0f0f0;
}
.contact .contact-form .contact-info form textarea {
  margin: 40px 0;
  width: 100%;
  height: 300px;
  resize: none;
  background-color: #f0f0f0;
}
.contact .contact-form .contact-info form .submit-btn {
  width: 100%;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 2px solid transparent;
}
.contact .contact-form .contact-info form .submit-btn:hover {
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  color: red;
  border: 2px solid red;
  transition: 0.3s;
}
.contact .contact-form .contact-about {
  width: calc(40% - 100px);
  padding: 0 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  color: white;
}
.contact .contact-form .contact-about h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contact .contact-form .contact-about p {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  align-items: center;
}
footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
footer .footer-wrapper .social ul {
  list-style: none;
  display: flex;
}
footer .footer-wrapper .social ul li .social-item {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
