@media (max-width: $breakpointMd){

  .contact {

    margin: 100px 0 0 0 ;

    .contact_text{
      padding-left: 15px;

      .contact_podzagolovok{
        max-width: 300px;
      }
    }

    .contact-form{
      display: flex;
      flex-wrap: wrap;


      &:after {

        content: '';
        position: relative;
        background-color: #333;
        height: 100%;
        width: calc(100vw / 2);
        right: calc(-100vw / 2);
        top: 0;
      }


      .contact-info{
        width: 100%;
        margin-right: 50px;

        form {

          .input-field {
            margin-top: 20px;
            width: 100%;
            &:first-child{
              padding-right: 0;
            }
          }

        }


      }





      .contact-about{

        margin: 50px 0 0 0 ;
        padding: 50px;
        width: 100%;

      }

    }
  }
}

@media (max-width: $breakpointSm){

.contact {

  margin: 100px 0 0 0 ;

  .contact_text{
    padding-left: 15px;

    .contact_podzagolovok{
      max-width: 300px;
    }
  }

  .contact-form{
    flex-direction: column;


    .contact-info{
    width: 100%;

      form {

        .input-field {
          margin-top: 20px;
          width: 100%;
          &:first-child{
            padding-right: 0;
          }
        }

      }


    }





    .contact-about{

      margin: 50px 0 0 0 ;
      padding: 50px;
      width: 100%;

    }

  }
}
}