@media (max-width: 1000px) {


  .block-reviews  {


    .block-reviews_content {


      .reviews-content_left {
        width: 100%;
        padding-left: 100px;
        p {
          padding-top: 20px;
        }


        a {
          background-color: $--main-site-color;
          color: $--third-site-color;
          @extend %review-btn;
          border: 2px solid $--third-site-color;

          &:hover {
            background-color: $--third-site-color;
            color: $--main-site-color;
            @extend %review-btn;
            transition: .3s;
            border: 2px solid transparent;
          }
        }


      }

      .reviews-content_right {
        margin-top: 50px;
        padding-left: 100px;
        width: 100%;


        h3 {
          padding-bottom: 20px;
        }

        .rev-cont-right_item {
          width: 50%;
          padding-right: 20px;
          padding-bottom: 20px;

          img {
            width: 40px;
            height: auto;
            padding-bottom: 20px;
          }

          p{

            padding-right: 70px;
          }

        }


      }


    }


  }



}

@media (max-width: 767px) {

  .block-reviews {
  .block-reviews_content{
       .reviews-content_right{

      .rev-cont-right_item{
        flex-direction: column !important;
        width: 100% !important;
      }
       }
  }
  }
        }
@media (max-width: 500px) {

  .container{
    max-width: 500px !important;
  }

  .block-reviews {
    .block-reviews_content{
      .reviews-content_right{

        .rev-cont-right_item{
          flex-direction: column !important;
          width: 100% !important;
        }
      }
    }
  }
}