@media (max-width: $breakpointXl) {



}

@media (max-width: $breakpointLg) {

  .block-reviews {

    .block-reviews_content {

      .reviews-content_left{
         width: 100%;
      }

      .reviews-content_right{
        width: 100%;
        margin-top: 50px;

        .rev-cont-right_item {

        }
      }
    }
  }


}

@media (max-width: $breakpointMd) {

}

@media (max-width: $breakpointSm) {

  .block-reviews {

    .block-reviews_content {
      padding-left: 15px;
      .reviews-content_left{

      }

      .reviews-content_right{


        .rev-cont-right_item {
          width: 100%;

        }
      }
    }
  }


}