@media (max-width: 1000px){
  .container{
    max-width: 1000px;
  }
  .team_text {

    padding-left: 100px;
  }


  .team_about_zagolovok {

    padding-left: 50px;
  }


  .team_gallary{

    margin-top: 50px;
  }



    .team_gallary_item{
      padding-left: 20px;
      width: 150px !important;

    }
  }
@media (max-width: 992px){
  .container{
    max-width: 992px;
  }
  .team_text {

    padding-left: 100px;
  }

  .team_about {
    width: 60% !important;
    padding-left: 50px;

  }

  .team_about_zagolovok {

    padding-left: 0;
  }


  .team_gallary{

    margin-top: 50px !important;
  }



  .team_gallary_item{
    padding-left: 0;
    width: 270px !important;
    height: 270px !important;

  }
}



