.team {
  padding: 50px 0;

  .team_text {

    text-align: left;
    padding-bottom: 30px;

    .team_zagolovok{

      padding-top: 20px;

    }

    .team_podzagolovok{


      max-width: 500px;

      padding: 20px 0;




    }

    .line {
      width: 200px;
      border: 1px  solid $third-site-color ;


    }


  }

  .team-gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    .team_main_item {


    }

    .team_about {
      width: 68%;


      .team_about_zagolovok {

      }
     .team_about_podzagolovok{
       max-width: 620px;
       padding: 20px 0;


      }

      .team_tabs {
        padding-bottom: 20px;


        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;

          li {

            padding-right: 20px;
            a{
              text-decoration: none;
              color:#333;


            }


          }


        }



      }
       .team_gallary {
         @include team(100px);


         .team_gallary_item{
           width: 190px;
           height: 190px;
           background-color: #f5efdb;



           .team-item-title {

             display: none;
           }

           &:hover {
             .team-item-title {
               margin-top: 160px;
               display: block;
               padding: 5px 0 5px 40px;
               background-color: #79776d;
               color: $main-site-color;
               text-transform: uppercase;
             }

           }



         }

       }

    }



  }








}