body {
  font-family: $main-font-family, sans-serif;


}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;

}


.container {
  max-width: $containerwidth;
  margin: 0 auto;
}

@media (max-width: $breakpointXl) {
  .container {
    width: $breakpointLg;
  }
}

@media (max-width: $breakpointLg) {
  .container {
    width: $breakpointMd;
  }
}

@media (max-width: $breakpointMd) {
  .container {
    width: $breakpointSm;

  }
}

@media (max-width: $breakpointSm) {
  .container {
    width: 100%;

  }
}