%review-btn{
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 10px;
}

%subscribe-btn{
  margin: 0 20px;
  text-decoration: none;
  padding: 15px 64px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

%submit-btn {
  text-decoration: none;
  padding: 15px 64px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}