$--main-site-color: white;
$--secondary-site-color: #f4f3f1;
$--third-site-color: red;
$--main-font-color: #5c5c5c;
$--main-font-family: 'Open Sans';
$--sub-font-family: 'Arial';
$--font-size-sm: 14px;
$--font-size-md: 16px;
$--font-size-lg: 18px;
$--nav-bg-color:#303030;
