@media (max-width: $breakpointXl) {

  .feature{

    .feauture_gallary{
      justify-content: center;


      .gallary-item{
        width: 200px

      }

    }


  }

}

@media (max-width: $breakpointLg) {

  .feature{

    .feauture_gallary{

      .gallary-item{
        width: 180px

      }

    }


  }

}

@media (max-width: $breakpointMd) {

  .feature{
    .feauter_text{


      .feauter_subtitle{

        max-width: 500px;

      }



    }

    .feature_tabs {

      ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        li {
          width: 30%;
        }

      }

    }

    .feauture_gallary{

      .gallary-item{
        width: 220px

      }

    }



  }

}

@media (max-width: $breakpointSm) {

  .feature{
    padding: 25px 0;
    .feauter_text{


      .feauter_subtitle{

        max-width: 100%;

      }



}

    .feature_tabs {

      ul {
        display: block;
        text-align: center;

        li {

          width: 100%;
        }

      }

    }

    .feauture_gallary{

      .gallary-item{
        width: 100%;

        img {
          width: 500px;
        }

      }

    }

  }


}