@media (max-width: 1000px) {


  .gallary-item {

    width: 250px !important;

  }
}

@media (max-width: 992px) {


  .gallary-item {

    width: 245px !important;

  }
}

@media (max-width: 767px) {


  .gallary-item {

    width: 190px !important;

  }
}

@media (max-width: 500px) {

   .container{
     max-width: 500px !important;
   }
  .team_gallary{
    justify-content: center;
    align-items: center;
  }

  .gallary-item {
     margin-left: 50px;
    width: 400px !important;

  }
}