@media (max-width: 1000px) {

  .banner-content_left {
    width: 100% !important;
  }

    .banner-content_right {
      margin-top: 50px;
     width: 100% !important;
      iframe {


      }
    }



}
@media (max-width: 992px) {

  .banner-content_left {
    width: 100% !important;
  }

  .banner-content_right {
    margin-top: 50px;
    width: 100% !important;
    iframe {


    }
  }



}