@media (max-width: 1000px) {

  .banner-content_left {
    width: 100% !important;
  }

    .banner-content_right {
      margin-top: 50px;
     width: 100% !important;
      iframe {


      }
    }



}
@media (max-width: 992px) {

  .banner-content_left {
    width: 100% !important;
  }

  .banner-content_right {
    margin-top: 50px;
    width: 100% !important;
    iframe {


    }
  }



}
@media (max-width: 767px) {

  .banner-content_left {
    width: 80% !important;
  }

  .banner-content_right {
    margin-top: 50px;
    width: 100% !important;
    iframe {


    }
  }



}
@media (max-width: 500px) {


  .container{
    max-width: 500px;
  }
  .banner-content_left {
    width: 50% !important;

    p {

      padding-right: 0px !important;

    }

  }

  .banner-content_right {
    margin-top: 50px;
    width: 450px !important;
    iframe {
     width: 380px !important;
      height: 150px !important;

    }
  }



}