@media (max-width: 1000px) {

  header {
    width: 100%;
  }
  
}
@media (max-width: 992px) {

  header {
    width: 100%;
  }

}
@media (max-width: 767px) {

  header {
    display: none !important;
  }

}
